/* Body Styling */
body {
    overflow: auto;
    font-family: 'Quantico', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    text-align: center;
    padding: 1em 0;
}

@font-face {
    font-family: 'Exo2';
    src: url('/fonts/Exo2-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Oxanium';
    src: url('/fonts/Oxanium-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Regular.ttf');
}

@font-face {
    font-family: 'Xolonium';
    src: url('/fonts/Xolonium-Regular.otf');
}

/* Scrollbar track */
::-webkit-scrollbar {
    width: 14px;
    background-color: #06041a;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #360082, #6b2be3);
    border-radius: 6px;
    border: 3px solid #06041a;
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #4b00b5, #9162fc);
}

/* Scrollbar thumb click */
::-webkit-scrollbar-thumb:active {
    background: linear-gradient(90deg, #21004f, #4f21b0);
}

/* Text highlight (selection) colors */
::selection {
    background: #4e009c;
    color: white;
}

::-moz-selection {
    background: #4e009c;
    color: white;
}

.spacer {
    height: 5rem;
}

/* Background Animation */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background-color: rgba(2, 2, 20, 0.76);
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    background-color: rgba(10, 6, 29, 0.2);
    max-width: 80vw;
    border-radius: 4rem;
    border: 2px solid #27234c;
    backdrop-filter: blur(13px);
    overflow: hidden;
}

/* Main Header */
header h1 {
    font-size: 2.75rem;
}

/* Introduction Section */
.intro {
    text-align: center;
    margin: 20px;
}

.intro h1 {
    font-size: 2.25rem;
}

.profile-picture {
    border-radius: 40%;
    margin-top: 20px;
    border: 1px solid #27234c;
}

.intro p {
    margin: 20px 10%;
    font-size: 1.2em;
}

/* Projects Section */
.projects {
    text-align: center;
    padding: 1em 2em 2em;
}

.projects h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.projects h3 {
    font-size: 1.4em;
    margin-top: 0.2em;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    background-color: #141333;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.project-item h3 a {
    color: #e2c14a;
    text-decoration: none;
}

.project-item p {
    margin-top: 10px;
    font-size: 1em;
    color: #c5c6ca;
}

.tiny-note {
    font-size: small;
    text-align: center;
    color: lightgray;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 1em 0;
    font-size: 0.7em;
    background-color: #0a092d;
    color: #888;
    width: calc(100vw - 14px);
}

a {
    color: #4a90e2;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
